<ion-view view-title="About" ng-init="aboutAnim()">
  <ion-content scroll="false">

<div class="center-icon row row-center">
<div class="col col-center">
<div class="row">
<div class="col">
    <i class="icon ion-university light" style="font-size:150px;" id="SRHlogo"></i><br>
</div>
</div>

<div class="row">
<div class="col">
<i class="icon light" style="font-size:60px;" id="textstart">SRH Blogs</i><br>
</div>
</div>

<div class="row">
<div class="col">
<i class="icon light" style="font-size:25px;" id="textstart">Version 0.0.1 </i><br>
</div>
</div>

<div class="row" id="designText">
<div class="col">
<i class="icon light" style="font-size:20px;">Designed By Mayank Singh </i>
</div>
</div>

</div>
</div>

</ion-content>
</ion-view>
