<ion-view title="Settings">
<ion-content>



<div class="row">
<div class="col">

<div class="list card" style="color:#242f24; box-shadow: 1px 1px 10px 1px #9CCC65;" ng-click="changeEmail()">
<div class="row item item-text-wrap" style="border:none; color:#242f24;">
<div class="col">
<center><i class = "icon ion-email balanced" style="font-size: 90px;"></i></center>
</div>
</div>
<div class="row">
<div class="col">
<center>Change E-mail Address</center>
</div>
</div>
</div>

</div>

<div class="col">
<div class="list card" style="color:#242f24; box-shadow: 1px 1px 10px 1px #9CCC65;" ng-click="changePass()">
<div class="row item item-text-wrap" style="border:none; color:#242f24;">
<div class="col">
<center><i class = "icon ion-locked assertive" style="font-size: 90px;"></i></center>
</div>
</div>
<div class="row">
<div class="col">
<center>Change <br>Password</center>
</div>
</div>
</div>

</div>
</div>

<div class="row">
<div class="col">

<div class="list card" style="color:#242f24; box-shadow: 1px 1px 10px 1px #9CCC65;" ng-click="goToAbout()">
<div class="row item item-text-wrap" style="border:none; color:#242f24;">
<div class="col">
<center><i class = "icon ion-information balanced" style="font-size: 90px;"></i></center>
</div>
</div>
<div class="row">
<div class="col">
<center>About <br> App</center>
</div>
</div>
</div>

</div>
<div class="col">
<div class="list card" style="color:#242f24; box-shadow: 1px 1px 10px 1px #9CCC65;" ng-controller="AppCtrl" ng-click="logout()">
<div class="row item item-text-wrap" style="border:none; color:#242f24;">
<div class="col">
<center><i class = "icon ion-log-out balanced" style="font-size: 90px;"></i></center>
</div>
</div>
<div class="row">
<div class="col">
<center>Logout <br></center><br>
</div>
</div>
</div>

</div>
</div>



</ion-content>
</ion-view>