<ion-view ng-init="delay()">

<ion-content scroll="false">

<div class="center-icon row row-center">
<div class="col col-center">
<div class="row">
<div class="col">
    <i class="icon ion-university light" style="font-size:150px;" id="SRHlogo"></i>
</div>
</div>

<div class="row">
<div class="col">
<i class="icon light" style="font-size:60px;" id="textstart">SRH Blogs</i>
</div>
</div>

</div>
</div>

</ion-content>

<ion-footer-bar align-title="center" ng-show="showFooter" ui-sref='login' class="bar-balanced">
<span class="title light">Login / Sign Up</span>
</ion-footer-bar>


</ion-view>