<div class="list" ng-controller="loginCtrl">

<label class="item item-input">
<span class="input-label">E-mail</span>
<input type="email" ng-model="acc.email" Placeholder="Enter E-mail Address" required="yes">
</label>

<label class="item item-input">
<span class="input-label">Password</span>
<input type="password" ng-model="acc.pass" placeholder="******" required="yes">
</label>

<label class="item item-input">
<span class="input-label">Re-type<br>Password</span>
<input type="password" ng-model="acc.rpass" placeholder="******" required="yes">
</label>


</div>